Package: ka9q-radio-full
Source: ka9q-radio
Version: 1.0+nmu4
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 9
Depends: ka9q-radio, ka9q-radio-airspy, ka9q-radio-airspyhf, ka9q-radio-bladerf, ka9q-radio-common, ka9q-radio-control, ka9q-radio-fobos, ka9q-radio-ft, ka9q-radio-funcube, ka9q-radio-hackrf, ka9q-radio-hfdl, ka9q-radio-horus, ka9q-radio-hydrasdr, ka9q-radio-monitor, ka9q-radio-packet, ka9q-radio-recordings, ka9q-radio-rtlsdr, ka9q-radio-rx888, ka9q-radio-tools, ka9q-ft8
Section: hamradio
Priority: optional
Homepage: http://www.ka9q.net
Description: meta package for all components of ka9q-radio
 Brings in the works: radiod, control, monitor, command line tools, device plugins, ft8/4 decoder
