\#*\#
.\#*
*~
*.a
*.o
*.d
!config/*.d
Makefile
.depend
aprs
aprsfeed
control
cwd
ft8-decoded
hackrf
jt-decoded
junk
metadump
modulate
monitor
opusd
opussend
packetd
pcmcat
pcmrecord
pcmsend
pcmspawn
pl
powers
radiod
rdsd
setfilt
set_xcvr
show-pkt
show-sig
stereod
tune
wd-record
wspr-decoded
docs/notes

