# $Id: airspy@.service,v 1.21 2022/04/01 18:11:31 karn Exp $
# Systemd service file for KA9Q's airspy daemon
# Note - this is a rather compute intensive program
# Phil Karn, KA9Q, Feb 2021

[Unit]
Description=Airspy-%i daemon
After=network-online.target
Requires=network-online.target

[Service]
User=airspy
Nice=-10
SupplementaryGroups=plugdev radio
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=airspy-%i
RuntimeDirectoryMode=0755
ReadWritePaths=/var/lib/ka9q-radio
ExecStart=/usr/local/sbin/airspy  %i
PIDFile=/run/airspy-%i/pid
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
