# $Id: cwd.service,v 1.2 2022/08/14 20:05:39 karn Exp $
# systemd service file for KA9Q's CW (Morse) sender
# Phil Karn, KA9Q, August 2022

[Unit]
Description=CW daemon
After=network-online.target
Requires=network-online.target

[Service]
User=radio
Group=radio
Nice=-10
SupplementaryGroups=plugdev radio
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=cwd
RuntimeDirectoryMode=0755
ReadWritePaths=/var/lib/ka9q-radio
# FCC 97.119(b)(1) Speed must be <= 20 WPM
ExecStart=/usr/local/sbin/cwd -I /run/cwd/input -s 100 -R hf-pcm.local -S 18.0 -P 750.0 -L 3000
PIDFile=/run/cwd/pid
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
