# $Id: funcubed@.service,v 1.1 2022/05/04 06:00:21 karn Exp $
# Systemd unit to start up funcube daemon
# Phil Karn, KA9Q May 2022

[Unit]
Description=Funcube %i daemon
After=sound.target
After=network-online.target
Requires=network-online.target

[Service]
Nice=-10
User=funcube
SupplementaryGroups=radio plugdev audio users
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=funcubed-%i
RuntimeDirectoryMode=0755
WorkingDirectory=/tmp
EnvironmentFile=/etc/radio/funcubed-%i.conf
ReadWritePaths=/var/lib/ka9q-radio /home/funcube
ExecStart=/usr/local/sbin/funcubed --name $ID --device $DEVICE "$ID"
PIDFile=/run/funcubed-%i/pid
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
#WantedBy=multi-user.target
