# $Id: funcubed@.service,v 1.3 2023/01/15 05:07:27 karn Exp $
# Systemd unit to start up funcube daemon
# Phil Karn, KA9Q May 2022

[Unit]
Description=Funcube %i daemon
After=sound.target
After=network-online.target
Requires=network-online.target

[Service]
User=funcube
AmbientCapabilities=CAP_SYS_NICE
SupplementaryGroups=radio plugdev audio users
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=funcubed-%i
RuntimeDirectoryMode=0755
WorkingDirectory=/tmp
ReadWritePaths=/var/lib/ka9q-radio /home/funcube
ExecStart=/usr/local/sbin/funcubed --name %i
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
