# $Id: hackrf@.service,v 1.4 2021/05/04 03:24:48 karn Exp $
# Systemd service file for KA9Q's HackRF One daemon
# Note - this is a rather compute intensive program
# Phil Karn, KA9Q, Feb 2021

[Unit]
Description=HackRF %i daemon
After=network-online.target
Requires=network-online.target

[Service]
Nice=-10
DynamicUser=1
SupplementaryGroups=radio plugdev
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=hackrf-%i
RuntimeDirectoryMode=0755
EnvironmentFile=/etc/radio/hackrf-%i.conf
ExecStart=/usr/local/sbin/hackrf --device $DEVICE --status-out $STATUS --pcm-out $DATA --samprate $SAMPRATE --decimate 16 $ID
PIDFile=/run/hackrf%i/pid
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
#WantedBy=multi-user.target
