# Systemd service file for KA9Q's rx888 daemon
# Phil Karn, KA9Q, May 2022

[Unit]
Description=RX888-%i daemon
After=network-online.target
Requires=network-online.target

[Service]
User=rx888
AmbientCapabilities=CAP_SYS_NICE
SupplementaryGroups=plugdev radio
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=rx888d-%i
RuntimeDirectoryMode=0755
ReadWritePaths=/var/lib/ka9q-radio
ExecStart=/usr/local/sbin/rx888d %i
PIDFile=/run/rx888d-%i/pid
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
