# Systemd service file for K4VZ's sdrplay daemon
# Franco Venturi, K4VZ, June 2022

[Unit]
Description=SDRplay-%i daemon
After=network-online.target
Requires=network-online.target

[Service]
User=sdrplay
Nice=-10
#SupplementaryGroups=plugdev radio
SupplementaryGroups=radio
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=sdrplayd-%i
RuntimeDirectoryMode=0755
ReadWritePaths=/var/lib/ka9q-radio
ExecStart=/usr/local/sbin/sdrplayd %i
PIDFile=/run/sdrplayd-%i/pid
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
