# Systemd unit to decode FT-4 in a spool directory
# Phil Karn, KA9Q 9 May 2025

[Unit]
Description=ft4-decode
After=network-online.target
Requires=network-online.target

[Service]
Nice=10
User=radio
Group=radio
Type=simple
EnvironmentFile=/etc/radio/ft4-decode.conf
PermissionsStartOnly=true
StandardOutput=append:/var/log/ft4.log
UMask = 002
WorkingDirectory=/var/lib/ka9q-radio/ft4
ExecStart=/usr/local/bin/decode_ft8 -4 .
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
