# Systemd unit to record FT-4 into a spool directory
# files are read by a separate ft4-decode daemon
# Phil Karn, KA9Q 4 May 2025

[Unit]
Description=ft4-record
After=network-online.target
Requires=network-online.target

[Service]
Nice=10
User=radio
Group=radio
Type=simple
EnvironmentFile=/etc/radio/ft4-decode.conf
PermissionsStartOnly=true
StandardError=inherit
UMask = 002
CPUSchedulingPolicy=batch
RuntimeDirectory=ft4
RuntimeDirectoryMode=0755
WorkingDirectory=/run/ft4
ExecStart=/usr/local/bin/pcmrecord --jt --limit 7.5 $MCAST
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
