# Systemd unit to decode FT-8 in a spool directory
# Phil Karn, KA9Q 12 Sept 2025

[Unit]
Description=ft8-decode %i
After=network-online.target
Requires=network-online.target

[Service]
Nice=10
User=radio
Group=radio
Type=simple
RequiresMountsFor=/var/lib/ka9q-radio/ft8
EnvironmentFile=/etc/radio/ft8-decode.conf
PermissionsStartOnly=true
StateDirectory=ka9q-radio/ft4
StateDirectoryMode=0775
StandardOutput=append:/var/log/ft8.log
StandardError=journal
WorkingDirectory=/var/lib/ka9q-radio/ft8
ExecStart=/usr/local/bin/decode_ft8 $DIRECTORY
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
