# Systemd unit to decode aircraft HF data link
# Phil Karn, KA9Q April 2025
# this is the per-channel version (note no '@' in hfdl.service)
# The radiod config file sets up one receiver channel per HFDL data channel
# All come out on the same multicast group with different SSRCs.
# This service file causes a single instance of 'pcmrecord --exec' to execute a separate instance of dumphfdl for each data channel, and demux the SSRCs to them

# Configuration is simpler because the radiod channels all have the same bandwidth and sample rate, and they only have to be specified in the radiod config file;
# the channel frequencies are automatically passed to dumphfdl through the $k variable so only one other config file are needed (/etc/radio/hfdl.conf)

# I'm interested in user comments from those who've tried both versions. Which should I keep?

[Unit]
Description=hfdl-decoder
After=network-online.target
Requires=network-online.target

[Service]
User=radio
Group=radio
Type=simple
EnvironmentFile=/etc/radio/hfdl.conf
PermissionsStartOnly=true
StandardOutput=append:/var/log/hfdl.log
StandardError=inherit
UMask = 002
CPUSchedulingPolicy=batch
RuntimeDirectory=hfdl
ExecStart=/usr/local/bin/pcmrecord --raw -v --exec "${DUMPHFDL} --output decoded:json:tcp:address=feed.airframes.io,port=5556 --output decoded:json:file:path=${LOG} --iq-file - --sample-rate $r --centerfreq $k  --sample-format cs16 --system-table=${SYSTABLE} --system-table-save=${SYSTABLE} $k" ${MCAST}
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
