# Systemd unit to decode aircraft HF data link
# Phil Karn, KA9Q Apr 2025
# This is the per-band version (note '@' in hfdl@.service)
# the radiod config file sets up one receiver channel per band (2, 3, 4, 5, 6, 8, 10, 11, 13, 15, 17 & 21 MHz),
# each to a separate multicast group. There's one instance of this hfdl service per band, each of which executes
# 'pcmrecord --exec' on a single SSRC containing all the channels in a band. dumphfdl then pulls the individual channels apart in each band.
#
# I thought this might be faster than one radiod receiver channel and dumphfdl decoder instance per HFDL data channel but I'm not sure
# there's any difference, and it does require a more complex configuration. Each individual channel frequency has to be
# configured in both the radiod config file and in the /etc/radio/hfdl-[nn].conf files, one for each band.

# I'm interested in user comments from those who've tried both versions. Which should I keep?

[Unit]
Description=hfdl-decoder
After=network-online.target
Requires=network-online.target

[Service]
User=radio
Group=radio
Type=simple
EnvironmentFile=/etc/radio/hfdl-%i.conf
PermissionsStartOnly=true
StandardOutput=append:/var/log/hfdl.log
StandardError=inherit
UMask = 002
CPUSchedulingPolicy=batch
RuntimeDirectory=hfdl
ExecStart=/usr/local/bin/pcmrecord --raw -v --exec "${DUMPHFDL} --station-id \'$d\' --output decoded:json:tcp:address=feed.airframes.io,port=5556 --output decoded:json:file:path=${LOG} --iq-file - --sample-rate $r --centerfreq $k  --sample-format cs16 --system-table=${SYSTABLE} --system-table-save=${SYSTABLE} $k ${FREQS}" ${MCAST}
Restart=always
RestartSec=5
TimeoutStopSec=10
SyslogIdentifier=hfdl@%i

[Install]
WantedBy=multi-user.target
