# $Id: opusd@.service,v 1.2 2023/01/15 05:07:27 karn Exp $
# Systemd startup module for PCM->Opus transcoder
# Phil Karn, KA9Q May 2022

[Unit]
Description=%i opus transcoder
Requires=network-online.target

[Service]
Type=simple
User=radio
AmbientCapabilities=CAP_SYS_NICE
SupplementaryGroups=radio
EnvironmentFile=/etc/radio/opusd@%i.conf
ExecStart=/usr/local/sbin/opusd --name %i --bitrate $BITRATE --block-time $BLOCKTIME --pcm-in $PCM_IN --opus-out $OPUS_OUT
Restart=always
RestartSec=5
TimeoutStopSec=5
SyslogIdentifier=opusd@%i

[Install]
WantedBy=multi-user.target
