# systemd unit for radio receiver
# Phil Karn, KA9Q, Sept 2025

[Unit]
Description=%i radio receiver
Requires=network-online.target

[Service]
User=radio
Group=radio
Type=simple
Environment="LD_LIBRARY_PATH=/usr/local/lib"
SupplementaryGroups=plugdev radio users
AmbientCapabilities=CAP_SYS_NICE CAP_NET_ADMIN
StateDirectory=ka9q-radio
StateDirectoryMode=0775
LogsDirectory=ka9q-radio
LogsDirectoryMode=0775
ReadWritePaths=/etc/fftw
UMask=002
ExecStart=/usr/local/sbin/radiod -N %i /etc/radio/radiod@%i.conf
Restart=always
RestartSec=5
TimeoutStopSec=5
SyslogIdentifier=radiod@%i

[Install]
WantedBy=multi-user.target
