# Systemd unit to record receiver streams
# Phil Karn, KA9Q May 2020

[Unit]
Description=%i recordings
After=network-online.target
Requires=network-online.target

[Service]
Nice=-10
User=radio
Group=radio
Type=simple
PermissionsStartOnly=true
StandardOutput=append:/recordings/pcmrecord@%i.log
StandardError=append:/recordings/pcmrecord@%i.log
EnvironmentFile=/etc/radio/recordings@%i.conf
UMask = 002
ExecStart=/usr/local/bin/pcmrecord $ARGS
Restart=always
RestartSec=5
TimeoutStopSec=10
SyslogIdentifier=recordings@%i

[Install]
WantedBy=multi-user.target
