# Systemd unit to record and decode WSPR
# Phil Karn, KA9Q Oct 2023

[Unit]
Description=wspr-decoder
After=network-online.target
Requires=network-online.target

[Service]
Nice=10
User=recordings
Group=radio
Type=simple
EnvironmentFile=/etc/radio/wspr-decode.conf
PermissionsStartOnly=true
StandardOutput=append:/var/log/wspr.log
StandardError=inherit
UMask=002
CPUSchedulingPolicy=batch
ExecStart=/usr/local/bin/jt-decoded -w -d "$DIRECTORY" $MCAST
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
