# Systemd unit to record and decode WSPR
# Still uses old jt-decoded until wsprd gets rewritten like decode_ft8
# Phil Karn, KA9Q May 2025

[Unit]
Description=wspr-decoder
After=network-online.target
Requires=network-online.target

[Service]
Nice=10
User=radio
Group=radio
Type=simple
EnvironmentFile=/etc/radio/wspr-decode.conf
PermissionsStartOnly=true
StandardOutput=append:/var/log/wspr.log
StandardError=journal
UMask=002
CPUSchedulingPolicy=batch
ExecStart=/usr/local/bin/jt-decoded -w -d "$DIRECTORY" $MCAST
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
