Package: ka9q-radio-recordings
Source: ka9q-radio
Version: 1.0+nmu4
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 29
Depends: systemd, ka9q-radio-common
Section: hamradio
Priority: optional
Homepage: http://www.ka9q.net
Description: recording subsystem for ka9q-radio
 Provides some sample configurations for automatic recording of groups of audio
 channels from ka9q-radio's radiod
