debhelper-build-stamp
*.debhelper.log
*.substvars
ka9q-radio-common
ka9q-radio-common.cron.d
ka9q-radio-control
ka9q-radio-airspy
ka9q-radio-airspyhf
ka9q-radio-bladerf
ka9q-radio-config-examples
ka9q-radio-fobos
ka9q-radio-ft
ka9q-radio-full
ka9q-radio-funcube
ka9q-radio-hackrf
ka9q-radio-hfdl
ka9q-radio-horus
ka9q-radio-hydrasdr
ka9q-radio-monitor
ka9q-radio-packet
ka9q-radio-recordings
ka9q-radio-rtlsdr
ka9q-radio-rx888
ka9q-radio-siggen
ka9q-radio
ka9q-radio-tools
*.debhelper
files
tmp
source











