Source: ka9q-radio
Section: hamradio
Priority: optional
Maintainer: Phil Karn <karn@ka9q.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://github.com/ka9q/ka9q-radio
Vcs-Git: https://github.com/ka9q/ka9q-radio.git

Package: ka9q-radio
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libcat2-bin, systemd, udev
Description: ka9q-radio SDR package
 Multichannel software-defined radio "spectrum server" with multicast control and data
 
