#!/bin/sh
set -e
. /usr/share/debconf/confmodule

db_input medium ka9q-radio/frontend || true
db_go
db_get ka9q-radio/frontend
frontend="$RET"
# Only set default if user hasn't answered before
db_fget ka9q-radio/instance_name seen
if [ "$RET" != true ]; then
  db_set ka9q-radio/instance_name "$frontend"
fi

# Now ask for instance name
db_input medium ka9q-radio/instance_name || true
db_go

db_fget ka9q-radio/description seen || true
if [ "$RET" != true ]; then
    db_set ka9q-radio/description "$frontend"
fi
db_input medium ka9q-radio/description || true
db_go

db_fget ka9q-radio/status_channel seen || true
if [ "$RET" != true ]; then
    db_set ka9q-radio/status_channel "$frontend.local"
fi
db_input medium ka9q-radio/status_channel || true
db_go

db_fget ka9q-radio/data_channel seen || true
if [ "$RET" != true ]; then
    db_set ka9q-radio/data_channel "$frontend-data.local"
fi
db_input medium ka9q-radio/data_channel || true
db_go

