#!/bin/sh
set -e
. /usr/share/debconf/confmodule

configured=false
# any existing confs?
found=false

for f in /etc/radio/radiod@*.conf; do
    [ -e "$f" ] && { found=true; break; }
done

for d in /etc/radio/radiod@*.conf.d; do
    [ -d "$d" ] && { found=true; break; }
done


if $found; then
    echo "radiod config file(s) found in /etc/radio, setup prompts skipped"
    exit 0
fi
db_input medium ka9q-radio/configure_now || true
db_go

db_get ka9q-radio/configure_now
if [ "$RET" != true ]; then
    echo "setup skipped; to re-run later:"
    echo "  sudo ka9q-radio-setup"
    echo "sample configs can be found in package ka9q-radio-config-examples"
    exit 0
fi

db_input medium ka9q-radio/frontend || true
db_get ka9q-radio/frontend
frontend="$RET"

# Only set default if user hasn't answered before
db_fget ka9q-radio/instance_name seen || true
if [ "$RET" != true ]; then
  db_set ka9q-radio/instance_name "$frontend"
fi
# Now ask for instance name
db_input medium ka9q-radio/instance_name || true


db_fget ka9q-radio/description seen || true
if [ "$RET" != true ]; then
    db_set ka9q-radio/description "$frontend"
fi
db_input medium ka9q-radio/description || true


db_fget ka9q-radio/status_channel seen || true
if [ "$RET" != true ]; then
    db_set ka9q-radio/status_channel "$frontend.local"
fi
db_input medium ka9q-radio/status_channel || true

db_fget ka9q-radio/data_channel seen || true
if [ "$RET" != true ]; then
    db_set ka9q-radio/data_channel "$frontend-data.local"
fi
db_input medium ka9q-radio/data_channel || true

db_go
