Package: ka9q-radio-monitor
Source: ka9q-radio
Version: 1.0+nmu4
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 258
Depends: libasound2t64 (>= 1.0.16), libbsd0 (>= 0.0), libc6 (>= 2.38), libiniparser4 (>= 4.0), libncursesw6 (>= 6), libopus0 (>= 1.1), libportaudio2 (>= 19+svn20101113), libsamplerate0 (>= 0.1.7), libtinfo6 (>= 6), ka9q-radio-common
Section: hamradio
Priority: optional
Homepage: http://www.ka9q.net
Description: Multicast stream audio monitor for ka9q-radio
 Interactive multicast RTP stream monitor for ka9q-radio, uses ncurses,
 handles multiple channels, supports pcm, opus, u-law, a-law
