Package: ka9q-radio-ft
Source: ka9q-radio
Version: 1.0+nmu4
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 38
Depends: systemd, ka9q-radio-common, ka9q-ft8
Section: hamradio
Priority: optional
Homepage: http://www.ka9q.net
Description: FT4/FT8/WSPR skimmers for ka9q-radio
 records and decodes FT4, FT8 and WSPR transmissions, logs in /var/log/ft[48].log, wspr.log
