Package: ka9q-radio-common
Source: ka9q-radio
Version: 1.0+nmu4
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 38
Depends: systemd
Section: hamradio
Priority: optional
Homepage: http://www.ka9q.net
Description: common files for ka9q-radio
 Common files for ka9q-radio and ka9q-radio's user commands and daemons
