Package: ka9q-radio-horus
Source: ka9q-radio
Version: 1.0+nmu4
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 24
Depends: systemd, ka9q-radio-common
Section: hamradio
Priority: optional
Homepage: http://www.ka9q.net
Description: demodulation subsystem for horus balloon telemetry
 Decode balloon telemetry in the Horus (VK5QI) format
 requires horus_demod package to be manually installed
